{
    "presets": [
      "@babel/env",
      "@babel/react",
      "@babel/flow"
    ],
    "plugins": [
      "transform-class-properties",
      "@babel/plugin-syntax-object-rest-spread",
      "@babel/plugin-transform-runtime",
      "dynamic-import-node"
    ]
  }